$xl-page-width: 1460px;
$lg-page-width: 1220px;
$md-page-width: 100vw;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1460px;

$black: #222;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$brown: #774e09;


$primary: #007bff;
$secondary: #54656d;
$secondary-light: #73858d;


$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;


$light: #ececec;
$dark: #343a40;
